<section class="section" id="about">
  <div class="section-title">
    <h2>ABOUT</h2>
    <hr class="section-line-between" />
  </div>
  <div class="about-wrapper">
    <p class="about-description">
      We are a minimalistic flower studio. We love people and flowers. Therefore, every day we give
      people the beauty and joy creating stylish and modern masterpieces. Every bouquet we create is
      unique as you are.
    </p>
    <div class="about-box-image">
      <img
        class="about-image"
        alt="picture of flowers"
        src="./images/jpg/about/about-flower-mobile.jpg"
        srcset="
          ./images/jpg/about/about-flower-mobile.jpg      320w,
          ./images/jpg/about/about-flower-mobile@2x.jpg   640w,
          ./images/jpg/about/about-flower-tablet.jpg      768w,
          ./images/jpg/about/about-flower-tablet@2x.jpg  1536w,
          ./images/jpg/about/about-flower-desktop.jpg    1280w,
          ./images/jpg/about/about-flower-desktop@2x.jpg 2560w
        "
        sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, (min-width: 480px) 320px, 100vw"
      />
    </div>
  </div>
</section>
