<section class="section blog" id="blog">
  <div class="container">
    <div class="section-title">
      <h2>BLOG</h2>
      <hr class="section-line-between" />
    </div>
    <ul class="grid blog__gallery">
      <li class="blog__galery-item">
        <img
          src="./images/jpg/blog/blog-flower1-mobile.jpg"
          srcset="
            ./images/jpg/blog/blog-flower1-tablet.jpg     340w,
            ./images/jpg/blog/blog-flower1-desktop.jpg    390w,
            ./images/jpg/blog/blog-flower1-mobile@2x.jpg  272w,
            ./images/jpg/blog/blog-flower1-tablet@2x.jpg  680w,
            ./images/jpg/blog/blog-flower1-desktop@2x.jpg 780w
          "
          sizes="(min-width: 1280px) 390px, (min-width: 768px) 340px, (min-width: 480px) 136px, 100vw"
          alt="Green leaves"
        />
      </li>
      <li class="blog__galery-item">
        <img
          src="./images/jpg/blog/blog-flower2-mobile.jpg"
          srcset="
            ./images/jpg/blog/blog-flower2-tablet.jpg     340w,
            ./images/jpg/blog/blog-flower2-desktop.jpg    390w,
            ./images/jpg/blog/blog-flower2-mobile@2x.jpg  272w,
            ./images/jpg/blog/blog-flower2-tablet@2x.jpg  680w,
            ./images/jpg/blog/blog-flower2-desktop@2x.jpg 780w
          "
          sizes="(min-width: 1280px) 390px, (min-width: 768px) 340px, (min-width: 480px) 136px, 100vw"
          alt="Orange flower"
        />
      </li>
      <li class="blog__galery-item">
        <img
          src="./images/jpg/blog/blog-flower3-mobile.jpg"
          srcset="
            ./images/jpg/blog/blog-flower3-tablet.jpg     340w,
            ./images/jpg/blog/blog-flower3-desktop.jpg    390w,
            ./images/jpg/blog/blog-flower3-mobile@2x.jpg  272w,
            ./images/jpg/blog/blog-flower3-tablet@2x.jpg  680w,
            ./images/jpg/blog/blog-flower3-desktop@2x.jpg 780w
          "
          sizes="(min-width: 1280px) 390px, (min-width: 768px) 340px, (min-width: 480px) 136px, 100vw"
          alt="Blue flower"
        />
      </li>
      <li class="blog__galery-item">
        <img
          src="./images/jpg/blog/blog-flower4-mobile.jpg"
          srcset="
            ./images/jpg/blog/blog-flower4-tablet.jpg     340w,
            ./images/jpg/blog/blog-flower4-desktop.jpg    390w,
            ./images/jpg/blog/blog-flower4-mobile@2x.jpg  272w,
            ./images/jpg/blog/blog-flower4-tablet@2x.jpg  680w,
            ./images/jpg/blog/blog-flower4-desktop@2x.jpg 780w
          "
          sizes="(min-width: 1280px) 390px, (min-width: 768px) 340px, (min-width: 480px) 136px, 100vw"
          alt="White flowers"
        />
      </li>
      <li class="blog__galery-item">
        <img
          src="./images/jpg/blog/blog-flower5-mobile.jpg"
          srcset="
            ./images/jpg/blog/blog-flower5-tablet.jpg     340w,
            ./images/jpg/blog/blog-flower5-desktop.jpg    390w,
            ./images/jpg/blog/blog-flower5-mobile@2x.jpg  272w,
            ./images/jpg/blog/blog-flower5-tablet@2x.jpg  680w,
            ./images/jpg/blog/blog-flower5-desktop@2x.jpg 780w
          "
          sizes="(min-width: 1280px) 390px, (min-width: 768px) 340px, (min-width: 480px) 136px, 100vw"
          alt="Red and white flowers"
        />
      </li>
      <li class="blog__galery-item">
        <img
          src="./images/jpg/blog/blog-flower6-mobile.jpg"
          srcset="
            ./images/jpg/blog/blog-flower6-tablet.jpg     340w,
            ./images/jpg/blog/blog-flower6-desktop.jpg    390w,
            ./images/jpg/blog/blog-flower6-mobile@2x.jpg  272w,
            ./images/jpg/blog/blog-flower6-tablet@2x.jpg  680w,
            ./images/jpg/blog/blog-flower6-desktop@2x.jpg 780w
          "
          sizes="(min-width: 1280px) 390px, (min-width: 768px) 340px, (min-width: 480px) 136px, 100vw"
          alt="Orange flowers"
        />
      </li>
    </ul>
    <span class="blog__slider">
      <svg width="38.32" height="4.99">
        <use href="./images/svg/sprite.svg#icon-arow-left-mobile"></use>
      </svg>
      <svg width="38.32" height="4.99">
        <use href="./images/svg/sprite.svg#icon-arow-right-mobile"></use>
      </svg>
    </span>
    <h3 class="blog__subtitle">Follow to our newsletter</h3>
    <button type="button" class="button blog__button" data-modal-open>Subscribe</button>
  </div>
</section>
