<section id="delivery">
  <div class="container">
    <h2>NAGŁÓWEK</h2>
    <ul class="delivery-container">
      <li class="delivery-list">
        <p>1</p>
        <p>Choose your bouquet and make an order on website</p>
      </li>
      <li class="delivery-list">
        <p>2</p>
        <p>
          Wait for the call to clarify the details of the order. You can pay online or to the
          courier
        </p>
      </li>
      <li class="delivery-list">
        <p>3</p>
        <p>Wait for the delivery at the selected time or pick up the order from the store</p>
      </li>
      <li class="delivery-list">
        <p>4</p>
        <p>Make someone happy or enjoy yourself</p>
      </li>
    </ul>
    <img />
  </div>
</section>
