<section class="section" id="delivery">
  <div class="section-title">
    <h2>DELIVERY</h2>
    <hr class="section-line-between" />
  </div>
  <div>
    <ul class="delivery-list">
      <li class="delivery-item">
        <p class="delivery-item__number">1</p>
        <p class="delivery-item__text">Choose your bouquet and make an order on website</p>
      </li>
      <li class="delivery-item">
        <p class="delivery-item__number">2</p>
        <p class="delivery-item__text">
          Wait for the call to clarify the details of the order. You can pay online or to the
          courier
        </p>
      </li>
      <li class="delivery-item">
        <p class="delivery-item__number">3</p>
        <p class="delivery-item__text">
          Wait for the delivery at the selected time or pick up the order from the store
        </p>
      </li>
      <li class="delivery-item">
        <p class="delivery-item__number">4</p>
        <p class="delivery-item__text">Make someone happy or enjoy yourself</p>
      </li>
    </ul>
  </div>
</section>
<div class="delivery-image">
  <img
    alt="sample flowers"
    src="./images/jpg/delivery/delivery-image-mobile.jpg"
    srcset="
      ./images/jpg/delivery/delivery-image-mobile.jpg      320w,
      ./images/jpg/delivery/delivery-image-mobile@2x.jpg   640w,
      ./images/jpg/delivery/delivery-image-tablet.jpg      768w,
      ./images/jpg/delivery/delivery-image-tablet@2x.jpg  1536w,
      ./images/jpg/delivery/delivery-image-desktop.jpg    1280w,
      ./images/jpg/delivery/delivery-image-desktop@2x.jpg 2560w
    "
    sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, (min-width: 480px) 320px, 100vw"
  />
</div>
