<footer class="footer container">
  <a href="./index.html"><svg class="footer__icon-logo" width="73" height="57"></svg>
    <use href="./images/svg/sprite.svg#icon-logo-desktop-tablet"></use>
  </svg></a>

  <div class="footer__main-section">
    <div class="footer__nav">
      <ul class="footer__list">
        <li><p class="footer__head">Navigation</p></li>

        <li class="footer__list-item">
          <a class="footer__link" href="./index.html">Anemonē</a>
        </li>
        <li class="footer__list-item">
          <a class="footer__link" href="#about">About us</a>
        </li>
        <li class="footer__list-item"><a class="footer__link" href="#store">Store</a></li>
        <li class="footer__list-item">
          <a class="footer__link" href="#delivery">Delivery</a>
        </li>
      </ul>
    </div>

    <div class="footer__open-time">
      <ul class="footer__list">
        <li><p class="footer__head">Opening times</p></li>
        <li>
          <p class="footer__list-item footer__time">Every day <br />9:00 - 22:00</p>
        </li>
      </ul>
    </div>

    <address class="footer__contacts">
      <ul class="footer__list">
        <li><p class="footer__head">Contacts</p></li>
        <li class="footer__list-item">
          <a class="footer__link" href="tel:+38 063 123 45 67">+38 063 123 45 67</a>
        </li>
        <li class="footer__list-item">
          <a class="footer__link link" href="mailto:anemonestudio@example.com"
            ><span class="link">anemonestudio</span><span class="link">@example.com</span></a
          >
        </li>
        <li class="footer__list-item">
          <a class="footer__link" href="#">Reitarska Street, 11<br />Kyiv, Ukraine</a>
        </li>
      </ul>
    </address>

    <div class="footer__icon">
      <ul class="footer__list-icon">
        <li>
          <a href="#"><svg class="footer__icon-item" width="12.33" height="23.33">
            <use href="./images/svg/sprite.svg#icon-facebook"></use>
          </svg></a>
        </li>
        <li>
          <a href="#"><svg class="footer__icon-item" width="23.33" height="23.33">
            <use href="./images/svg/sprite.svg#icon-instagram"></use>
          </svg></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
