<header>
  <div class="container__header">
    <span
      ><a href="index.html"
        ><svg class="icon-logo" viewBox="0 0 100 100">
          <use href="images/svg/sprite.svg#icon-logo-mobile"></use></svg></a
    ></span>
    <nav>
      <div class="container__navbar--desktop">
        <ul class="navbar__list">
          <li>
            <a href="./index.html">Anemone</a>
          </li>
          <li><a href="#about">About us</a></li>
          <li><a href="#store">Store</a></li>
          <li><a href="#delivery">Delivery</a></li>
          <li><a href="#blog">Blog</a></li>
        </ul>
      </div>
      <div class="container__navbar--mobile">
        <a href="tel:+48111111111"
          ><svg class="contact__header--mobile" viewBox="0 0 100 100">
            <use href="images/svg/sprite.svg#icon-telephone-mobile"></use>
          </svg>
        </a>
        <button type="button" class="toggleMenu js-open-menu">
          <svg viewBox="0 0 100 100">
            <use href="images/svg/sprite.svg#icon-burger-menu"></use>
          </svg>
        </button>
      </div>
    </nav>
    <a href="tel:+48111111111">
      <svg class="contact__header--desktop" viewBox="0 0 18 18">
        <use href="images/svg/sprite.svg#icon-telephone-mobile"></use>
      </svg>
    </a>
  </div>
</header>

<div class="menu-container js-menu-container" id="mobile-menu">
  <ul class="menu--mobile">
    <li>
      <button type="button" class="js-close-menu">
        <svg class="icon-close--mobile" viewBox="0 0 100 100">
          <use href="images/svg/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </li>
    <li>
      <a href="./index.html">Anemone</a>
    </li>
    <li><a href="#about">About us</a></li>
    <li><a href="#store">Store</a></li>
    <li><a href="#delivery">Delivery</a></li>
    <li><a href="#blog">Blog</a></li>
  </ul>
</div>
