<section class="hero">
  <img
    class="hero__img"
    src="/src/images/jpg/hero/home_page@2x.jpg"
    srcset="/src/images/jpg/hero/home_page@1.5x.jpg 1.5x, /src/images/jpg/hero/home_page.jpg"
    alt="Zdjęcie pomarańczowego kwiatu"
  />

  <h1 class="hero__header">ANEMONE</h1>
  <div class="hero__content">
    <p class="hero__description">
      flower <br />
      studio
    </p>
    <button class="hero__btn" type="button" data-modal-open>
      <svg class="hero__icon">
        <use class="hero__icon-1" href="/src/images/svg/icons_hero-contact.svg#icon-btn-1"></use>
        <use class="hero__icon-2" href="/src/images/svg/icons_hero-contact.svg#icon-btn-2"></use>
        <use class="hero__icon-3" href="/src/images/svg/icons_hero-contact.svg#icon-btn-3"></use>
      </svg>
    </button>
  </div>
</section>
