<section class="hero">
  <img
    class="hero__img"
    src="/src/images/jpg/hero/home_page@2x.jpg"
    srcset="
      /src/images/jpg/hero/home_page.jpg     136w,
      /src/images/jpg/hero/home_page@2x.jpg  400w,
      /src/images/jpg/hero/home_page.jpg     344w,
      /src/images/jpg/hero/home_page@2x.jpg  688w,
      /src/images/jpg/hero/home_page.jpg     600w,
      /src/images/jpg/hero/home_page@2x.jpg 1200w
    "
    sizes="(min-width: 1280px) 600px, (min-width: 768px) 344px, 100vw"
    alt="big-pink-flower"
  />
  <h1 class="hero__header">ANEMONE</h1>
  <h1 class="hero__header-desktop">ANEMONĒ</h1>

  <div class="hero__content">
    <p class="hero__description">
      flower <br />
      studio
    </p>
    <button class="hero__btn" type="button" data-modal-contact-open>
      <svg class="hero__icon">
        <use class="hero__icon-1" href="/src/images/svg/sprite.svg#icon-btn-shop-now-mobile"></use>
        <use class="hero__icon-2" href="/src/images/svg/sprite.svg#icon-btn-shop-now-tablet"></use>
        <use class="hero__icon-3" href="/src/images/svg/sprite.svg#icon-btn-shop-now-desktop"></use>
      </svg>
    </button>
  </div>
</section>
