.container-about {
  padding-top: 100px;
}
.title-about {
  margin-bottom: 32px;

  text-transform: uppercase;

  font-style: normal;
  font-weight: 700;
}
.about-img {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .about-description {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .title-about {
    margin-bottom: 30px;
  }
  .about-wrapper {
    display: flex;
    align-items: center;
    gap: 54px;
  }
  .about-description {
    font-size: 20px;
    line-height: 1,2;
    max-width: 322px;
  }
  .about-img {
    width: 344px;
    height: 217px;
  }
}
@media screen and (min-width: 1280px) {
  .title-about {
    margin-bottom: 26px;
  }
  .about-wrapper {
    gap: 90px;
  }
  .about-description {
    font-size: 22px;
    line-height: 1,23;
    max-width: 510px;
  }
  .about-img {
    width: 632px;
    height: 344px;
  }
}
