/*-- section --*/

#delivery {
  padding-top: $section-top-padding-mobile;

  @media (min-width: $tablet-breakpoint) and (max-width: 1279px) {
    $section-top-padding-tablet: 50px;
  }

  @media (min-width: $desktop-breakpoint) {
    $section-top-padding-desktop: 50px;
  }
}

/*-- header --*/
h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

/*-- list --*/

.delivery-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-top: 32px;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;

  @media (min-width: $mobile-breakpoint) and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-top: 32px;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  @media (min-width: $tablet-breakpoint) and (max-width: 1279px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
  }
  @media (min-width: $desktop-breakpoint) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-left: 80px;
  }
}

.delivery-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: $main-font-black;
  text-align: left;
  font-size: 14px;
  margin-bottom: 14px;

  @media (min-width: $tablet-breakpoint) and (max-width: 1279px) {
    max-height: 67px;
    margin-bottom: 20px;
    gap: 20px;
    font-size: 24px;
  }
  @media (min-width: $desktop-breakpoint) {
    max-height: 84px;
    margin-bottom: 32px;
    gap: 56px;
    font-size: 32px;
  }
}

.delivery-item:last-child {
  margin-bottom: 32px;
  @media (min-width: $tablet-breakpoint) and (max-width: 1279px) {
    margin-bottom: 40px;
  }
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: 69px;
  }
}

.delivery-item__number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  min-width: 40px;
  min-height: 40px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  margin-block-end: 0;
  margin-block-start: 0;

  @media (min-width: $tablet-breakpoint) {
    min-width: 64px;
    min-height: 64px;
    font-size: 26px;
  }
}

.delivery-item__text {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.2;
}

/*-- image (not in section) --*/

.delivery-image {
  width: 100%;
  padding-bottom: $section-bottom-padding-mobile;
  min-height: 135px;

  @media (min-width: $tablet-breakpoint) and (max-width: 1279px) {
    min-height: 264px;
    padding-bottom: $section-bottom-padding-tablet;
  }

  @media (min-width: $desktop-breakpoint) {
    min-height: 391px;
    padding-bottom: $section-bottom-padding-desktop;
  }
}

.delivery-image > img {
  display: flex;
  width: 100%;
  object-fit: cover;
}
