.footer {
  background-color: $footer-background;
  color: $main-font-white;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  @media screen and (min-width: $tablet-breakpoint) {
    display: flex;
  }
}
.footer__nav .footer__list {
  @media screen and (max-width: 767px) {
    padding-right: 20px;
    padding-left: 16px;
  }
  @media screen and (min-width: $tablet-breakpoint) and (max-width: 1279px) {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    padding-left: 24px;
    padding-right: 44px;
  }
  @media screen and (min-width: $desktop-breakpoint) {
    padding: 0;
  }
}
.footer__open-time .footer__list {
  @media screen and (max-width: 767px) {
    padding-left: 44px;
  }
  @media screen and (min-width: $tablet-breakpoint) and (max-width: 1279px) {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    padding-right: 44px;
    padding-left: 31px;
  }
  @media screen and (min-width: $desktop-breakpoint) {
    padding: 0;
  }
}
.footer__contacts .footer__list {
  @media screen and (max-width: 767px) {
    padding-top: 32px;
  }
  @media screen and (min-width: $tablet-breakpoint) and (max-width: 1279px) {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    padding-right: 64px;
    padding-left: 44px;
  }
  @media screen and (min-width: $desktop-breakpoint) {
    padding: 0;
  }
}
.footer__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media screen and (max-width: 767px) {
    padding: 0;
    padding-left: 16px;
    margin: 0;
  }
  @media screen and (min-width: $tablet-breakpoint) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.footer__head {
  font-family: 'Inter';
  font-weight: 700;
  line-height: 1.2;
  font-style: normal;
  @media screen and (max-width: 767px) {
    font-size: 18px;
    margin-top: 0;
  }
  @media screen and (min-width: $tablet-breakpoint) {
    font-size: 20px;
    margin-top: 0;
  }
  @media screen and (min-width: $desktop-breakpoint) {
    font-size: 20px;
    margin-bottom: 18px;
  }
}
.footer__time {
  margin-top: 0;
}
.footer__list-item {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  font-style: normal;
  padding-bottom: 12px;
  @media screen and (max-width: 767px) {
    padding-bottom: 12px;
  }
  @media screen and (min-width: $tablet-breakpoint) {
    font-size: 16px;
    margin-bottom: 0;
  }
}
.footer__list-item:not(:last-child) {
  @media screen and (min-width: $tablet-breakpoint) {
    padding-bottom: 12px;
  }
}
.footer__link {
  text-decoration: none;
  color: $main-font-white;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  @media screen and (min-width: $desktop-breakpoint) {
    display: flex;
  }
}
.footer__icon {
  stroke: white;
  @media screen and (max-width: 767px) {
    display: flex;
    margin: 0;
    padding-top: 32px;
  }
  @media screen and (min-width: $tablet-breakpoint) and (max-width: 1279px) {
    padding-left: 0;
    margin-left: 0;
  }
  @media screen and (min-width: $desktop-breakpoint) {
    padding-left: 112px;
  }
}
.footer__list-icon {
  list-style-type: none;
  @media screen and (max-width: 767px) {
    display: flex;
    gap: 14px;
    padding-left: 32px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  @media screen and (min-width: $tablet-breakpoint) {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 0;
    padding-left: 0;
  }
  @media screen and (min-width: $desktop-breakpoint) {
    margin: 0;
  }
}
.footer__icon-item {
  width: 28px;
  height: 28px;
}
.footer__icon-logo {
  fill: $main-font-white;
  @media screen and (max-width: 1279px) {
    display: none;
  }
  @media screen and (min-width: $desktop-breakpoint) {
    margin-left: 24px;
  }
}
.footer__main-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @media screen and (max-width: 767px) {
    display: flex;
    max-width: 320px;
    flex-flow: row wrap;
    margin: auto;
  }
  @media screen and (min-width: $tablet-breakpoint) {
    display: flex;
    flex-direction: row;
    max-width: 768px;
  }
  @media screen and (min-width: $desktop-breakpoint) {
    padding-left: 210px;
    display: flex;
    gap: 96px;
    max-width: 1280px;
  }
}
.link {
  @media screen and (max-width: 767px) {
    display: block;
  }
}