.footer {
  background-color: $footer-background;
  color: $main-font-white;

  @media screen and (min-width: $desktop-breakpoint) {
    padding-left: 24px;
    padding-right: 48px;
  }

  &-contact-box {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (min-width: $tablet-breakpoint) {
      flex-wrap: nowrap;
      gap: 44px;
    }
    @media screen and (min-width: $desktop-breakpoint) {
      gap: 96px;
    }
  }

  &__main-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;

    @media screen and (max-width: 767px) {
      display: flex;
      max-width: 320px;
      flex-flow: row wrap;
      margin: auto;
    }
    @media screen and (min-width: $tablet-breakpoint) {
      justify-content: stretch;
    }
    @media screen and (min-width: $desktop-breakpoint) {
      gap: 96px;
    }
  }

  &__open-time {
    @media screen and (min-width: $tablet-breakpoint) and (max-width: 1279px) {
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 0;
      padding-right: 44px;
      padding-left: 31px;
    }
    @media screen and (min-width: $desktop-breakpoint) {
      padding: 0;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    @media screen and (max-width: 767px) {
      padding: 0;
    }
  }

  &__head {
    font-family: 'Inter';
    font-weight: 700;
    line-height: 1.2;
    font-style: normal;
    @media screen and (max-width: 767px) {
      font-size: 18px;
      margin-top: 0;
    }
    @media screen and (min-width: $tablet-breakpoint) {
      font-size: 20px;
      margin-top: 0;
    }
    @media screen and (min-width: $desktop-breakpoint) {
      font-size: 20px;
      margin-bottom: 18px;
    }
  }

  &__time {
    margin-top: 0;
  }

  &__list-item {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    font-style: normal;
    padding-bottom: 12px;
    @media screen and (max-width: 767px) {
      padding-bottom: 12px;
    }
    @media screen and (min-width: $tablet-breakpoint) {
      font-size: 16px;
      margin-bottom: 0;
    }
    &:not(:last-child) {
      @media screen and (min-width: $tablet-breakpoint) {
        padding-bottom: 12px;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $main-font-white;
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    @media screen and (min-width: $desktop-breakpoint) {
      display: flex;
    }
  }

  &__icon {
    stroke: white;
    @media screen and (max-width: 767px) {
      display: flex;
    }
    @media screen and (min-width: $desktop-breakpoint) {
      padding-left: 290px;
    }
    &-item {
      width: 28px;
      height: 28px;
    }
    &-logo {
      fill: $main-font-white;
      @media screen and (max-width: 1279px) {
        display: none;
      }
      @media screen and (min-width: $desktop-breakpoint) {
        margin-right: 210px;
      }
    }
  }

  &__list-icon {
    display: flex;
    padding-right: 65px;
    gap: 14px;
    margin-top: 0;
    @media screen and (min-width: $tablet-breakpoint) {
      padding-right: 0;
      flex-direction: column;
      gap: 14px;
      margin: 0;
      padding-left: 32px;
    }
    @media screen and (min-width: $desktop-breakpoint) {
      margin: 0;
    }
  }
}

.footer__nav .footer__list {
  @media screen and (max-width: 767px) {
    padding-right: 20px;
  }
  @media screen and (min-width: $tablet-breakpoint) and (max-width: 1279px) {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    padding-left: 24px;
  }
  @media screen and (min-width: $desktop-breakpoint) {
    padding: 0;
  }
}
