* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  color: $main-font-black;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  min-height: 100%;
  margin: 0 auto;
  min-width: 320px;
  max-width: 767px;
}
@media (min-width: $mobile-breakpoint) and (max-width: 767px) {
  body {
    font-size: 14px;
    line-height: 20px;
    min-width: 480px;
    max-width: 767px;
  }
}
@media (min-width: $tablet-breakpoint) and (max-width: 1279px) {
  body {
    font-size: 16px;
    line-height: 24px;
    min-width: 768px;
    max-width: 1279px;
  }
}
@media (min-width: $desktop-breakpoint) {
  body {
    font-size: 16px;
    line-height: 27px;
    min-width: 1280px;
    max-width: 1600px;
  }
}
/*---   space   ---*/

header {
  margin-bottom: 0;
}
@media (min-width: $tablet-breakpoint) and (max-width: 1279px) {
  header {
    margin-bottom: 37px;
  }
}
@media (min-width: $desktop-breakpoint) {
  header {
    margin-bottom: 0px;
    position: relative;
    z-index: 10;
  }
}

/*---   space   ---*/

footer {
  min-width: 320px;
  max-width: 767px;
  padding-top: $footer-top-padding-mobile;
  padding-bottom: $footer-bottom-padding-mobile;
}
@media (min-width: $tablet-breakpoint) and (max-width: 1279px) {
  footer {
    min-width: 768px;
    max-width: 1279px;
    padding-top: $footer-top-padding-tablet;
    padding-bottom: $footer-bottom-padding-tablet;
  }
}
@media (min-width: $desktop-breakpoint) {
  footer {
    min-width: 1280px;
    max-width: 1600px;
    padding-top: $footer-top-padding-desktop;
    padding-bottom: $footer-bottom-padding-desktop;
  }
}

/*---   space   ---*/

section {
  width: 288px;
  margin: 0 auto;
  padding-left: $section-side-padding-mobile;
  padding-right: $section-side-padding-mobile;
}
@media (min-width: $tablet-breakpoint) and (max-width: 1279px) {
  section {
    width: 720px;
    padding-left: $section-side-padding-tablet;
    padding-right: $section-side-padding-tablet;
  }
}
@media (min-width: $desktop-breakpoint) {
  section {
    width: 1232px;
    padding-left: $section-side-padding-desktop;
    padding-right: $section-side-padding-desktop;
  }
}
/*---   space   ---*/

.container {
  width: 100%;
  margin: 0 auto;
}

/*---   headings   ---*/

h1 {
  font-weight: 400;
  font-size: 52px;
  line-height: 63px;
}
@media (min-width: $tablet-breakpoint) and (max-width: 1279px) {
  h1 {
    font-size: 120px;
    line-height: 146px;
  }
}
@media (min-width: $desktop-breakpoint) {
  h1 {
    font-size: 160px;
    line-height: 195px;
  }
}

/*---   titles of sections   ---*/

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  padding-left: 0;
}

@media (min-width: $tablet-breakpoint) and (max-width: 1279px) {
  h2 {
    font-size: 44px;
    line-height: 54px;
  }
}
@media (min-width: $desktop-breakpoint) {
  h2 {
    font-size: 44px;
    line-height: 54px;
  }
}

/*---   text "follow to our newsletter"   ---*/

h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
@media (min-width: $tablet-breakpoint) and (max-width: 1279px) {
  h3 {
    font-size: 32px;
    line-height: 39px;
  }
}
@media (min-width: $desktop-breakpoint) {
  h3 {
    font-size: 32px;
    line-height: 39px;
  }
}

/*---   text in section store   ---*/

h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: $tablet-breakpoint) and (max-width: 1279px) {
  h4 {
    font-size: 32px;
    line-height: 44px;
  }
}
@media (min-width: $desktop-breakpoint) {
  h4 {
    font-size: 36px;
    line-height: 44px;
  }
}

/*---   text in section delivery   ---*/

h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
@media (min-width: $tablet-breakpoint) and (max-width: 1279px) {
  h5 {
    font-size: 24px;
    line-height: 29px;
  }
}
@media (min-width: $desktop-breakpoint) {
  h5 {
    font-size: 32px;
    line-height: 39px;
  }
}

/*---   buttons   ---*/

button {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  line-height: 24px;
  outline: none;
  border: 0;
  border-radius: $button-border-radius;
  color: $main-font-white;
  background-color: $button-pink-base;
  @extend %transition;
  &:hover {
    background-color: $button-pink-hover;
  }
  &:focus {
    background-color: $button-pink-focus;
  }
}
@media (min-width: $tablet-breakpoint) and (max-width: 1279px) {
  button {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: $desktop-breakpoint) {
  button {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/*---   inputs  ---*/

input {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  line-height: 14.63px;
  border-radius: $input-border-radius;
  margin: 0 auto;
}
@media (min-width: $tablet-breakpoint) and (max-width: 1279px) {
  input {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 17px;
  }
}
@media (min-width: $desktop-breakpoint) {
  input {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

/*---   Section line  ---*/

.section-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.section-line-between {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-left: 14px;
  border-width: 0;
}
