/*globals*/

ul {
  padding-left: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: initial;
}

.icon-logo {
  &--mobile {
    height: 35px;
    fill: black;
    display: inline-block;
    @media screen and (min-width: $tablet-breakpoint) {
      display: none;
    }
  }

  &--desktop {
    &:hover,
    &:focus {
      fill: black;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: fill;
    }
    display: none;

    @media screen and (min-width: $tablet-breakpoint) {
      display: inline-block;
      height: 57px;
    }
    @media screen and (min-width: $desktop-breakpoint) {
      fill: white;
    }
  }
}

.container__header {
  font-family: 'Montserrat';
  justify-content: center;
  align-items: center;
  size: 20px;
  display: flex;
  height: 35px;
  justify-content: space-between;
  padding-top: 16px;
  & > a {
    width: 22px;
    display: none;
    @media screen and (min-width: $tablet-breakpoint) {
      display: inline-block;
    }
  }
  @media screen and (min-width: $tablet-breakpoint) {
    height: 57px;
    padding-top: 24px;
  }
  @media screen and (min-width: $desktop-breakpoint) {
    padding-top: 28px;
    line-height: 24px;
  }
}

/*navbar desktop*/

.container__navbar--desktop {
  font-size: 20px;
  display: none;
  @media screen and (min-width: $tablet-breakpoint) {
    display: flex;
  }
}
.navbar__list {
  align-items: center;
  justify-content: space-between;
  display: none;
  @media screen and (min-width: $tablet-breakpoint) {
    margin: 0;
    display: flex;
    gap: 24px;
  }
  @media screen and (min-width: $desktop-breakpoint) {
    gap: 48px;
    & > li > a {
      color: white;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: color;
      &:hover,
      &:focus {
        color: black;
      }
    }
  }
}
.contact__header--desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    fill: white;
    &:hover,
    &:focus {
      fill: black;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: fill;
    }
  }
}

/*navbar mobile*/
.container__navbar--mobile {
  @media screen and (min-width: $tablet-breakpoint) {
    display: none;
  }
}
.contact__header--mobile {
  width: 20px;
  margin-right: 14px;
}
.js-open-menu {
  border: none;
  width: 24px;
  background-color: white;
  padding: 0;
  &:hover,
  &:focus {
    background-color: white;
  }
}
