section {
    width: 100%;
  }
  // @media screen and (min-width: 320px) {
  //   section {
  //     // display: flex;
  //   }
  // }
  @media screen and (min-width: 320px) {
    .hero {
      align-items: center;
      position: relative;
      justify-content: center;
      display: flex;
      &__img {
        // position: absolute;
        overflow: hidden;
        display: flex;
        width: 145px;
        height: 274px;
        top: 95px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 226px;
        object-fit: cover;
        object-position: 57% 50%;
      }
      &__header {
        cursor: default;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 300px;
        font-weight: 400;
        font-size: 52px;
        line-height: 1.22;
        text-align: center;
        &-desktop {
          cursor: default;
          display: none;
        }
      }
      &__content {
        position: absolute;
        bottom: auto;
        top: 190px;
        margin-left: auto;
        margin-right: auto;
        display: inline-flex;
        align-items: center;
        width: 288px;
        justify-content: space-between;
        padding-left: 11px;
      }
      &__icon {
        width: 64px;
        height: 76px;
        fill: #000000;
        &-1,
        &-2 {
          display: none;
        }
      }
      &__btn {
        border: none;
        background-color: transparent;
      }
    }
  }
  @media screen and (min-width: $tablet-breakpoint) {
    .hero {
      &__img {
        height: 636px;
        width: 30%;
        left: auto;
        right: auto;
        object-position: 55% 50%;
      }
      &__icon {
        width: 145px;
        height: 150px;
        margin-left: 20px;
        &-1,
        &-3 {
          display: none;
        }
        &-2 {
          display: block;
        }
      }
      &__content {
        top: 340px;
        align-items: center;
        width: 49px+450px+76px+145px;
        justify-content: space-between;
      }
      &__header {
        position: absolute;
        top: 560px;
        font-size: 120px;
        line-height: 1.22;
      }
      &__description {
        font-size: 24px;
        font-weight: 400;
        margin-left: 49px;
      }
    }
  }
  @media screen and (min-width: $desktop-breakpoint) {
    .hero {
      top: 0;
      &__img {
        width: 100%;
        height: 878px;
        border-radius: 0;
        display: flex;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: 50% 50%;
      }
      &__icon {
        width: 166px;
        height: 166px;
        fill: $main-font-white;
        &-2,
        &-3 {
          display: none;
        }
        &-1 {
          display: block;
        }
      }
      &__header {
        display: none;
        &-desktop {
          display: block;
          position: absolute;
          top: 200px;
          color: $main-font-white;
          font-size: 160px;
          line-height: 1.22;
          font-weight: 400;
        }
      }
      &__content {
        position: absolute;
        margin-top: 132px+73px;
        width: 900px;
        display: inline-flex;
      }
      &__description {
        color: $main-font-white;
        font-size: 32px;
        line-height: 1.22;
      }
    }
  }