/*---   colors   ---*/

$main-font-black: #000000;
$main-font-white: #ffffff;

$mobile-menu: #e86f54;

$footer-background: #000000;

$section-straight-lines: #000000;

$button-pink-base: #e86f54;
$button-pink-hover: #e25b41;
$button-pink-focus: #fa6f54;

$input-normal-state: #111111;
$input-hover-state: #666464;
$input-error-color: #e74a3b;
$input-accept-color: #3cbc81;

/*---   Breakpoints   ---*/

$mobile-breakpoint: 480px;

$tablet-breakpoint: 768px;

$desktop-breakpoint: 1280px;

/*---   Footer spaces   ---*/

$footer-top-padding-mobile: 32px;
$footer-top-padding-tablet: 60px;
$footer-top-padding-desktop: 72px;

$footer-bottom-padding-mobile: 32px;
$footer-bottom-padding-tablet: 54px;
$footer-bottom-padding-desktop: 72px;

/*---   Section spaces   ---*/

$section-side-padding-mobile: 15px;
$section-side-padding-tablet: 24px;
$section-side-padding-desktop: 24px;

$section-top-padding-mobile: 30px;
$section-top-padding-tablet: 50px;
$section-top-padding-desktop: 50px;

$section-bottom-padding-mobile: 30px;
$section-bottom-padding-tablet: 50px;
$section-bottom-padding-desktop: 50px;

/*---   Gap spaces   ---*/

$grid-gap-mobile: 16px;
$grid-gap-tablet: 32px;
$grid-gap-desktop: 32px;

/*---   Border-radius   ---*/

$button-border-radius: 38px;
$button-modal-border-radius: 8px;
$input-border-radius: 4px;
